<%- %> 
    Sign Up
    <form action='/submitUser' method='post'>
        <input name='username' type='text' placeholder='username'>
        <input name='email' type='email' placeholder='email'>
        <input name='password' type='password' placeholder='password'>
        <button>Submit</button>
        <% if (errorMessage) { %>
            <p class="error"><%= errorMessage %></p>
        <% } %>
        <p>Password requirements:</p>
        <ul>
            <li>Minimum 10 characters</li>
            <li>At least one uppercase letter</li>
            <li>At least one lowercase letter</li>
            <li>At least one number</li>
            <li>At least one special character (!@#$%^&* etc.)</li>
        </ul>
    </form>
<%- %> 